### format_for_list

In [24]:
s = '{} {} {}'
f = s.format('대건', '윤기', '찬빈')
print(f)

대건 윤기 찬빈

In [3]:
s = '{}이는 {}와 {}이를 좋아한다'
f = s.format('대건', '윤기', '찬빈')
print(f)

대건이는 윤기와 찬빈이를 좋아한다

In [4]:
s = '{}이는 {}번이고 {}에 진학했다'
f = s.format('대건', 30312, '인천대학교')
print(f)

대건이는 30312번이고 인천대학교에 진학했다

In [8]:
name = '석찬'
num = 30321
add = '인천시 남동구'

s = '{}이는 {}번이고 {}에 살고있다'
f = s.format(name, num, add)
print(f)

석찬이는 30321번이고 인천시 남동구에 살고있다

In [9]:
name = input('이름>>> ')
num = input('학번>>> ')
add = input('주소>>> ')

s = '{}이는 {}번이고 {}에 살고있다'
f = s.format(name, num, add)
print(f)

이름>>> 석찬
학번>>> 30321
주소>>> 인천시 남동구
석찬이는 30321번이고 인천시 남동구에 살고있다

In [13]:
stu = input('이름 학번 주소>>> ').split()

이름 학번 주소>>> 석찬 30321 인천시남동구

In [14]:
stu

['석찬', '30321', '인천시남동구']

In [17]:
stu[0], stu[1]

('석찬', '30321')

In [18]:
s = '{}이는 {}번이고 {}에 살고있다'
f = s.format(stu[0], stu[1], stu[2])
print(f)

석찬이는 30321번이고 인천시남동구에 살고있다

### [문제1] 다음과 같은 양식으로 입력받아 출력하기
- 햄버거/2/4 입력하면 
- 햄버거 2개 값은 8달라입니다.

In [23]:
a = input('음식>>> ')
b = input('갯수>>> ')
c = int(input('돈>>> '))

d = '{} {}개 값은 {}달라입니다.'
e = d.format(a, b, c*2)
print(e)

음식>>> 햄버거
갯수>>> 2
돈>>> 4
햄버거 2개 값은 8달라입니다.

### -------------------------------------------------------------------------------------------

In [25]:
s = '{}이는 {}와 {}이를 좋아한다'
f = s.format('대건', '윤기', '찬빈')
print(f)

대건이는 윤기와 찬빈이를 좋아한다

In [54]:
info = '%d %s %f'
pr = info%(20, '인천', 0.5)
print(pr)

20 인천 0.500000

In [55]:
info = '%d년도 %s여고 %0.2f퍼센트'
pr = info%(20, '인천', 0.5)
print(pr)

20년도 인천여고 0.50퍼센트

### [문제2] 햄버거 2개는 8달러입니다.

In [60]:
data = '%s %d개는 %d달라입니다.'
pr = data%('햄버거', 2, 2*4)
print(pr)

햄버거 2개는 8달라입니다.

### List

In [62]:
arr = [1,2,3,4,5]
arr

[1, 2, 3, 4, 5]

In [66]:
arr = ['성곤', '대건', '대범', '호정']
arr

['성곤', '대건', '대범', '호정']

In [64]:
arr[0], arr[1], arr[2]

('성곤', '대건', '대범')

In [67]:
len(arr)

4

In [69]:
for i in range(1,6) :
    print(i)

1
2
3
4
5

In [71]:
for i in range(5,0,-1) :
    print(i)

5
4
3
2
1

In [72]:
for i in arr :
    print(i)

성곤
대건
대범
호정

In [76]:
for i in range(len(arr)) :
    print(arr[i])

성곤
대건
대범
호정

In [79]:
for i, val in enumerate(arr) :
    print(i+1, '번', val)

1 번 성곤
2 번 대건
3 번 대범
4 번 호정

### [문제] 30부터 50까지 출력 해보기

In [82]:
for i in range(30,51) :
    print(i)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

### [문제2] 30부터 50까지 중에서 홀수만 출력해보기

In [85]:
for i in range(30,51) :
    if i%2!=0 :
        print(i)

31
33
35
37
39
41
43
45
47
49

### [문제3] 30부터 50까지 중에서 홀수만 더해서 sum에 넣고 출력

In [86]:
sum= 0
for i in range(30,51) :
    if i%2!=0 :
        sum = sum+i
print(sum)

400

### [문제4]
- 1부터 10까지 중에서
- 짝수이면 파이썬
- 홀수이면 야 너도 할수있어 출력

In [91]:
for i in range(1,11) :
    if i%2!=0 :
        print('야 너도 할수있어')
    else :
        print('파이썬')

야 너도 할수있어
파이썬
야 너도 할수있어
파이썬
야 너도 할수있어
파이썬
야 너도 할수있어
파이썬
야 너도 할수있어
파이썬